<!DOCTYPE html>
<html lang="en">

<head>
    <title>XYZ University</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1">
    <link rel="stylesheet" href="/public/style.css">
</head>

<body>
    <div class="display">
        <h1>XYZ University</h1>
        <div class="nav">
            <a href="#">News</a>
            <a href="#">Degree Programs</a>
            <a href="#">About</a>
        </div>

        <div id="plate"></div>
        <div id="selected">
            <a class="item" href="#">Nursing</a>
            <a class="item" href="#">Medical Technologies</a>
            <a class="item" href="#">Applied Mathematics</a>
            <a class="item" href="#">Business Administration</a>
            <a class="item" href="#">Architecture</a>
            <a class="item" href="#">Applied Mathematics</a>
            <a class="item" href="#">Business Administration</a>
            <a class="item" href="#">Architecture</a>
        </div>
        <div id="menu">
            <a class="item" href="#">Applied Mathematics</a>
            <a class="item" href="#">Business Administration</a>
            <a class="item" href="#">Architecture</a>
            <a class="item" href="#">Applied Mathematics</a>
            <a class="item" href="#">Business Administration</a>
            <a class="item" href="#">Architecture</a>
            <a class="item" href="#">Applied Mathematics</a>
            <a class="item" href="#">Business Administration</a>
            <a class="item" href="#">Architecture</a>
        </div>
        <!-- bon appétit -->
    </div>
    <script src="/public/degree-programs.js"></script>
</body>

</html>